$header-darkgreen: #286a42;
$space: 40px;
$header-passive-color: #589476;
$page-header-green: #45a358;
$page-header-passive-color: #cdecdd;
$background-gray: #f8f8f8;
$avatar-color: #c8c8c8;
$red: #eb796b;
$text-gray: #9d9d9d;
